body{
    margin: 0;
    padding: 0;
   
    background-image:url("Best-Of-3d-Background-Images-for-Websites-Hd-High-.jpg");
    background-size:cover;
    background-position: center;
    height: 100vh;
  }
  .backlogpage{
      width: 320px;
      height: 420px;
      background:#000;
      color: #fff;
      top: 50%;
      left:50%;
      position: absolute;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
      padding: 10px 30px;
  }
  .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50%;
    position:-webkit-sticky;
}
h1{
    margin: 0;
    padding: 0  0 20px;
    text-align: center;
    font-size: 22px;
}
.backlogpage p{
margin: 0;
padding: 0;
font-weight: bold;
}
.backlogpage input{
    width: 100%;
    margin-bottom: 20px;
}
.backlogpage input[type="text"],input[type="password"]
{
    border: none;
    border-bottom:1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color:greenyellow;
font-size: 16px;
}
.backlogpage input[type="submit"]
{
    border: none;
    overflow: none;
height: 40px;
background: greenyellow;
color: #fff;
font-size: 18px;
border-radius:20px;
}
.backlogpage input[type="submit"]:hover
{
cursor: pointer;
background-color:lightseagreen;
color: #000;
}
.backlogpage a{
    text-decoration: none;
font-size: 12px;
line-height: 20px;
color: darkgrey;

}
.backlogpage a:hover
{
color: greenyellow;


}













